@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import "./abstracts/variables";
@import "./base/typography";
@import "./abstracts/mixins";
@import "./layout/navbar";
@import "./base/reset";
@import "./pages/home";
