@font-face {
    font-family: 'Paris';
    src: url('./fonts/Paris-Regular.woff2') format('woff2'),
        url('./fonts/Paris-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

