//----------------------  Colors ----------------------

$navColor:#B2B2B2;
$headFontColor:#296383;
$hoverBgColor:#F4F7F9;
// $vibrantBlue:#10AEE5;

//----------------------  Fonts --------------------------------

$headFont:'Paris';
