main{
  .hero-container{
    padding:4.75rem 8.75rem 0 8.75rem;
    img{
      max-width:664px;
      width:100%;
      height:704px;
      width:100%;
    }
    .hero-block{
      padding-top:9.5rem;
      justify-content:center;
      position: relative;
      left:7rem;
      .hero-blk-head{
        font-size:7.5rem;
        color:$headFontColor;
        font-family: $headFont;
        letter-spacing:2.4px;
        height:10rem;
      }
      .hero-blk-sub-1{
        font-size:2.188rem;
        font-family: 'Space Mono', monospace; 
        letter-spacing:0.7px;
        height:4rem;
      }
      .hero-blk-sub-2{
        font-size:1.125rem;
        font-family: 'Space Mono', monospace; 
      }
    }
    .gera-swap-container{
      background:yellow;
      @include alignCenter;
      .gera-swap-block{
        max-width: 53.75rem;
        width:100%;
        background-color: yellow;
        .swap-head{
          font-family: $headFont;
          font-size:2.188rem;
          color:$headFontColor;
        }
        .swap-content{
          font-family: 'Space Mono', monospace;
        }
      }
    }
  }
}
  section{
    .sec-div{
      height:100px;
      width:100%;
      background-color:yellow;
    }
  }
